{% extends "rakun/layout.html" %}
	{% load static %}
    {% block body%}
    <!-- Theme JS files -->
	<script src="{% static 'rakun/global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/demo_pages/datatables_basic.js' %}"></script>
	<!-- /theme JS files -->


	<!-- Basic datatable -->
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Personel Listesi</h5>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>

		<div class="card-body">
			Sisteme kayıtlı tüm personellerin listesi burada görüntülenir. Personel üzerinde özel işlem
			yapmak için <strong>İşlem</strong> ikonunu kullanabilirsiniz.<br><br>
			<div class="col-md-3 col-sm-4">
				<div class="d-flex align-items-center">
					<a href="{% url 'personnel:set_new_personnel' %}" class="dropdown-item">
						<i class="icon-user-plus mr-3 icon-1x"></i>
						Personel Ekle
					 </a>
				</div>
			</div>
			{% for message in messages %}
			<div {% if message.tags %} class="alert alert-{{ message.tags }} text-center " style=opacity:0.9 {% endif  %}>
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
				{{ message }}
			</div>
			{% endfor %}
		</div>

		<table class="table datatable-basic">
			<thead>
				<tr>
					<th>İsim Soyisim</th>
					<th>Telefon Numarası</th>
					<th>Adresi</th>
					<th>Doğum Tarihi</th>
					<th>Görevi</th>
					<th class="text-center">İşlem</th>
				</tr>
			</thead>
			<tbody>
				{% for pers in page_data %}
				<tr>
					<td>{{pers.user_name}} {{pers.user_surname}}</td>
					<td>{{pers.phone_number}}</td>
					<td>{{pers.address}}</td>
					<td>{{pers.birth_date}}</td>
					<td>
						{% if pers.personnel_type == 1 %}
						<span class="badge badge-success"> Öğretmen </span>
						{% elif pers.personnel_type == 2 %}
						<span class="badge badge-info"> İdari Personel </span>
						{% elif pers.personnel_type == 3 %}
						<span class="badge badge-secondary"> Teknik Personel </span>
						{% endif %}
					</td>
					{% if category_id == 1 or category_id == 4%}
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="{% url 'personnel:get_profile' pers.meta.id %}" class="dropdown-item"><i class="icon-profile"></i> Profile Git</a>
									<a href="{% url 'personnel:get_profile' pers.meta.id %}#p-setting" class="dropdown-item"><i class="icon-pencil3"></i> Bilgileri güncelle</a>
									<a href="{% url 'personnel:personnel_delete' pers.meta.id %}" class="dropdown-item"><i class="icon-eraser2"></i> Personeli sil</a>
								</div>
							</div>
						</div>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /basic datatable -->

    {% endblock body%}