{% extends "rakun/layout.html" %}
	{% load static %}
    {% block body%}
    <!-- Theme JS files -->
	<script src="{% static 'rakun/global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/demo_pages/datatables_basic.js' %}"></script>
	<!-- /theme JS files -->


	<!-- Basic datatable -->
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Sınıf Listesi</h5>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>

		<div class="card-body">
			Sisteme kayıtlı tüm sınıfların listesi burada görüntülenir. Sınıflar üzerinde özel işlem
			yapmak için <strong>İşlem</strong> ikonunu kullanabilirsiniz.<br><br>
			<div class="col-md-3 col-sm-4">
				<div class="d-flex align-items-center">
					<a href="{% url 'classes:set_new_class' %}" class="dropdown-item">
						<i class="icon-user-plus mr-3 icon-1x"></i>
						Sınıf Ekle
					 </a>
				</div>
			</div>
			{% for message in messages %}
			<div {% if message.tags %} class="alert alert-{{ message.tags }} text-center " style=opacity:0.9 {% endif  %}>
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
				{{ message }}
			</div>
			{% endfor %}
		</div>

		<table class="table datatable-basic">
			<thead>
				<tr>
					<th>Sınıf İsmi</th>
					<th>Kontenjan</th>
					<th>Doluluk Oranı</th>
					<th>Öğrentmenler</th>
					<th class="text-center">İşlem</th>
				</tr>
			</thead>
			<tbody>
				{% for class in page_data %}
				<tr>
					<td><a href="{% url 'classes:detail' class.meta.id %}">{{class.class_name}}</a></td>
					<td>{{class.quota}}</td>
					<td>{{class.quota}} / {{class.registered_student}}</td>

					<td>
						{% for i in personnel_list%}
							{% if i.1 == class.meta.id %}
						<a href="{% url 'personnel:get_profile' i.2 %}">
							<span class="badge badge-success">{{ i.0 }}</span>
						</a>
							{% endif %}
						{% endfor %}
					</td>
					{% if category_id == 1 or category_id == 4%}
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="{% url 'classes:update' class.meta.id %}" class="dropdown-item"><i class="icon-pencil3"></i> Düzenle </a>
									<a href="{% url 'classes:delete' class.meta.id %}" class="dropdown-item"><i class="icon-eraser2"></i>Sil</a>
								</div>
							</div>
						</div>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /basic datatable -->

    {% endblock body%}