
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rakun | Login Or Register</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'rakun/global_assets/css/icons/icomoon/styles.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'rakun/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'rakun/css/bootstrap_limitless.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'rakun/css/layout.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'rakun/css/components.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'rakun/css/colors.min.css'%}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="{% static 'rakun/global_assets/js/main/jquery.min.js'%}"></script>
    <script src="{% static 'rakun/global_assets/js/main/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'rakun/global_assets/js/plugins/loaders/blockui.min.js'%}"></script>
    <script src="{% static 'rakun/global_assets/js/plugins/ui/ripple.min.js'%}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{% static 'rakun/global_assets/js/plugins/forms/styling/uniform.min.js'%}"></script>

    <script src="{% static 'rakun/js/app.js'%}"></script>
    <script src="{% static 'rakun/global_assets/js/demo_pages/login.js'%}"></script>
    <!-- /theme JS files -->

</head>

<body>

<!-- Page content -->
<div class="page-content login-cover">

    <!-- Main content -->
    <div class="content-wrapper">
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} text-center " style=opacity:0.9 {% endif  %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </div>
                    {% endfor %}
        <br>{% if password or sonuc %}
            PASSWORD: {{password}}
            {% endif %}


        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Login form -->

            <div class="card mb-0">
                <ul class="nav nav-tabs nav-justified alpha-grey mb-0">
                    <li class="nav-item"><a href="#login-tab1" class="nav-link border-y-0 border-left-0 active" data-toggle="tab"><h6 class="my-1">Giriş Yap</h6></a></li>
                    <li class="nav-item"><a href="#login-tab2" class="nav-link border-y-0 border-right-0" data-toggle="tab"><h6 class="my-1">Kayıt Ol</h6></a></li>
                </ul>
                <div class="tab-content card-body">
                    <!-- TabPanel 1 -->
                    <div class="tab-pane fade show active" id="login-tab1">
                        <!-- Login Form -->
                        <div class="text-center mb-3">
                            <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Sisteme Giriş</h5>
                            <span class="d-block text-muted">Telefon numaranız ile sisteme giriş yapabilirsiniz.</span>
                        </div>
                        <form class="login-form wmin-sm-400" action="{% url 'companies:login' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="tel" class="form-control" placeholder="Cep Telefonunuz (545 xxx xxxx)", name="login_phone", id="login_phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required/>
                                <div class="form-control-feedback">
                                    <i class="icon-phone text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="password" class="form-control" placeholder="Şifreniz" name="login_password" id="login_password" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group d-flex align-items-center">
                                <div class="form-check mb-0">
                                    <label class="form-check-label">
                                        <!--
                                        <input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
                                        Remember
                                        -->
                                    </label>
                                </div>

                                <a href="login_password_recover.html" class="ml-auto">Şifremi Unuttum?</a>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                            </div>
                            <!--
                            <div class="form-group text-center text-muted content-divider">
                                <span class="px-2">or sign in with</span>
                            </div>

                            <div class="form-group text-center">
                                <button type="button" class="btn btn-outline bg-indigo border-indigo text-indigo btn-icon rounded-round border-2"><i class="icon-facebook"></i></button>
                                <button type="button" class="btn btn-outline bg-pink-300 border-pink-300 text-pink-300 btn-icon rounded-round border-2 ml-2"><i class="icon-dribbble3"></i></button>
                                <button type="button" class="btn btn-outline bg-slate-600 border-slate-600 text-slate-600 btn-icon rounded-round border-2 ml-2"><i class="icon-github"></i></button>
                                <button type="button" class="btn btn-outline bg-info border-info text-info btn-icon rounded-round border-2 ml-2"><i class="icon-twitter"></i></button>
                            </div>

                            <div class="form-group text-center text-muted content-divider">
                                <span class="px-2">Don't have an account?</span>
                            </div>

                            <div class="form-group">
                                <a href="#" class="btn btn-light btn-block">Sign up</a>
                            </div>
                            -->

                            <span class="form-text text-center text-muted">Devam ederek, <a href="#">Şartlar &#38; Koşullarımızı</a> ve  <a href="#">Çerez Politikamızı</a> okuduğunuzu onaylıyorsunuz.</span>
                        </form>
                    </div>
                    <!-- TabPanel 2 -->
                    <div class="tab-pane fade" id="login-tab2">
                        <!-- Register Form -->
                        <div class="text-center mb-3">
                            <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Anaokulu Hesabı Oluşturun</h5>
                            <span class="d-block text-muted">Tüm alanların doldurulması gerekmektedir.</span>
                        </div>
                        <form class="login-form wmin-sm-400"  method="POST" action="{% url 'companies:register'%}">
                            {% csrf_token %}
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="tel" class="form-control" placeholder="Cep Telefonunuz (545 xxx xxxx)", name="phone_number", id="register_phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required/>
                                <div class="form-control-feedback">
                                    <i class="icon-phone text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="tel" class="form-control" placeholder="Cep Telefonunuz Tekrar (545 xxx xxxx)", name="phone_replace", id="register_phone_replace" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required/>
                                <div class="form-control-feedback">
                                    <i class="icon-phone text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="text" class="form-control" placeholder="Anaokulu Adı" required name="company", id="register_company">
                                <div class="form-control-feedback">
                                    <i class="icon-home text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="text" class="form-control" placeholder="İsminiz" required name="owner_name", id="owner_name">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="text" class="form-control" placeholder="Soyisminiz" required name="owner_surname", id="owner_surname">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="email" class="form-control" placeholder="Mail Adresi", name="mail", id="register_mail" pattern=".+@[a-z0-9.-]+.com" size="30" required>
                                <div class="form-control-feedback">
                                    <i class="icon-mention text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group text-center text-muted content-divider">
                                <span class="px-2">Ek Seçimler</span>
                            </div>

                            <div class="form-group">
                                <!--
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="conf_send_mail_check" id="register_mail_check" class="form-input-styled" value=True checked data-fouc>
                                        Hesap ayarlarımı mail ile iletilmesini istiyorum.
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="newsletter_send_mail_check" id="register_newsletter_check" class="form-input-styled" value=True checked data-fouc>
                                        Geliştirmelerden haberdar olmak istiyorum
                                    </label>
                                </div>
                                -->

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="accept_check" id="register_accept_check" class="form-input-styled" data-fouc required>
                                        <a href="#">Hizmet şartlarını </a> okudum ve kabul ediyorum
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn bg-dark btn-block">Register</button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- /login form -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

</body>
</html>
