{% extends "rakun/layout.html" %}
{% load static %}
    {% block body%}
    <!-- Theme JS files -->
	<script src="{% static 'rakun/global_assets/js/plugins/forms/wizards/steps.min.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/plugins/forms/inputs/inputmask.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/plugins/forms/validation/validate.min.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/plugins/extensions/cookie.js' %}"></script>
	<script src="{% static 'rakun/global_assets/js/demo_pages/form_wizard.js' %}"></script>
    <script src="{% static 'rakun/global_assets/js/demo_pages/form_checkboxes_radios.js' %}"></script>
    <script src="{% static 'rakun/global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
    <script src="{% static 'rakun/global_assets/js/plugins/forms/styling/switch.min.js' %}"></script>

	<!-- /theme JS files -->
      <!-- Basic setup -->



	            <div class="card">
					<div class="card-header bg-white header-elements-inline">
						<h6 class="card-title">Yeni personel kaydı</h6>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

                	<form method="post" class="wizard-form steps-validation " action="{% url 'personnel:set_new_personnel' %}" data-fouc>
                        {% csrf_token %}
						<h6>Kişisel Bilgiler</h6>
						<fieldset>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Personel İsmi: <span class="text-danger">*</span></label>
										{{ form.user_name }}
									</div>
								</div>
                                <div class="col-md-6">
									<div class="form-group">
										<label>Personel Soyismi: <span class="text-danger">*</span></label> </label>
										{{ form.user_surname }}
									</div>
								</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
									<div class="form-group">
										<label>Mail Adresi: <span class="text-danger">*</span></label> </label>
										{{ form.mail }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Telefon Numarası: <span class="text-danger">*</span></label> </label>
										{{ form.phone_number }}
									</div>
								</div>
							</div>
                            <div class="row">
                                <div class="col-md-6">
									<label>Doğum Tarihi:</label>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												{{ form.birth_month }}
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												{{ form.birth_day }}
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												{{ form.birth_year }}
											</div>
										</div>
									</div>
								</div>
                                <div class="col-md-6">
                                    <label>Adresi: <span class="text-danger">*</span></label>
                                    {{ form.address }}
                                </div>
                            </div>
						</fieldset>

                        <h6>Eğitim Bilgileri</h6>
						<fieldset>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Üniversite:</label>
		                                {{ form.university }}
	                                </div>
								</div>
                                <div class="col-md-6">
									<div class="form-group">
										<label>Mezun Olduğu Bölüm:</label>
		                                {{ form.domain }}
	                                </div>
								</div>
                            </div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Yabancı Dili:</label>
		                                {{ form.language }}
	                                </div>
								</div>
                                <div class="col-md-6">
                                    <label>Mezuniyet Tarihi:</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.personnel_education_from_month}}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.personnel_education_from_year}}
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</fieldset>

                        <h6>İdari İşlemler ve İzinler</h6>
						<fieldset>
							<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>İdari Personelin Görev Alacağı Pozisyon <span class="text-danger">*</span></label> </label>
                                        {{ form.position }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>İlgileneceği sınıf <span class="text-danger">*</span></label> </label>
                                        {{ form.class_room }}
                                    </div>
                                </div>
							</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="d-block font-weight-semibold">Yetki ve İzinleri Belirleyin</label>
                                    <hr>
                                    <div class="form-group">
										<!--izinler başlangıç-->
									    <label class="d-block font-weight-semibold">Personel Ekranı Yetkileri</label>
									    <div class="custom-control custom-checkbox">
                                            {{ form.pers_view}}
                                            <label class="custom-control-label" for="custom_checkbox_stacked_unchecked_1">Personel listesini görüntüleyebilsin</label>
									    </div>
                                        <div class="custom-control custom-checkbox">
                                            {{ form.pers_write}}
										    <label class="custom-control-label" for="custom_checkbox_stacked_checked_1">Yeni personel ekleyebilsin.</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            {{ form.pers_delete}}
										    <label class="custom-control-label" for="custom_checkbox_stacked_checked_2">Sistemde kayıtlı personelleri silebilsin.</label>
									    </div>
									</div>
                                    <hr>
									    <!--izinler son-->
										<!--izinler başlangıç-->
									<label class="d-block font-weight-semibold">Veli ekranı yetkileri</label>
									<div class="custom-control custom-checkbox">
                                            {{ form.parent_views}}
										<label class="custom-control-label" for="custom_checkbox_stacked_unchecked_2">Veli listesini görüntüleyebilsin</label>
									</div>
									<div class="custom-control custom-checkbox">
                                            {{ form.parent_write}}
										<label class="custom-control-label" for="custom_checkbox_stacked_checked_3">Yeni veli ekleyebilsin.</label>
									</div>
                                    <div class="custom-control custom-checkbox">
                                            {{ form.parent_delete}}
										<label class="custom-control-label" for="custom_checkbox_stacked_checked_4">Sistemde kayıtlı velileri silebilsin.</label>
									</div>
                                    <hr>
										<!--izinler son-->
										<!--izinler başlangıç-->
									<label class="d-block font-weight-semibold">Öğernciler ekranı yetkileri</label>
									<div class="custom-control custom-checkbox">
                                        {{ form.student_views}}
										<label class="custom-control-label" for="custom_checkbox_stacked_unchecked_3">Öğrenci listesini görüntüleyebilsin</label>
									</div>
									<div class="custom-control custom-checkbox">
										{{ form.student_write}}
										<label class="custom-control-label" for="custom_checkbox_stacked_checked_5">Yeni öğrenci ekleyebilsin.</label>
									</div>
                                    <div class="custom-control custom-checkbox">
										{{ form.student_delete}}
										<label class="custom-control-label" for="custom_checkbox_stacked_checked_6">Sistemde kayıtlı öğrencileri silebilsin.</label>
									</div>
                                    <hr>
										<!--izinler son-->
										<!--izinler başlangıç-->
									<label class="d-block font-weight-semibold">İdari yetkiler</label>
									<div class="custom-control custom-checkbox">
										{{ form.administrative_view}}
										<label class="custom-control-label" for="custom_checkbox_stacked_unchecked_4">İdari işlemleri görüntüleyebilsin.</label>
									</div>
									<div class="custom-control custom-checkbox">
										{{ form.administrative_write}}
										<label class="custom-control-label" for="custom_checkbox_stacked_checked_7">Yeni idari işlemler ekleyebilsin.</label>
									</div>
                                    <div class="custom-control custom-checkbox">
										{{ form.administrative_delete}}
										<label class="custom-control-label" for="custom_checkbox_stacked_checked_8">Sistemde  idari kayıtları silebilsin.</label>
									</div>
                                    <hr>
										<!--izinler son-->
                                </div>
                            </div>
						</fieldset>
					</form>
	            </div>
	            <!-- /basic setup -->

    {% endblock body%}