<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--{% for message in messages %}-->
    <!--<div {% if message.tags %} class="alert alert-{{ message.tags }} text-center " style=opacity:0.9 {% endif  %}>-->
        <!--{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}-->
        <!--{{ message }}-->
    <!--</div>-->
    <!--{% endfor %}-->

    <div class="container">
    <form method="post"  class="form-group custom-control" action="{% url 'classes:inspection' %}" data-fouc>
    {% csrf_token %}
        {% for form in inspection_form %}
            {{ form.as_p}}
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
        </div>
    </form>
</div>


</body>
</html>

