<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} text-center " style=opacity:0.9 {% endif  %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </div>
                    {% endfor %}

{% for k,v in data_login.items %}
 {{k}}{{v}}

{%endfor%}
{{ data_login }}

{{data_register}}


</body>
</html>




<!--index="my-index",-->
    <!--body={-->
      <!--"query": {-->
        <!--"filtered": {-->
          <!--"query": {-->
            <!--"bool": {-->
              <!--"must": [{"match": {"title": "python"}}],-->
              <!--"must_not": [{"match": {"description": "beta"}}]-->
            <!--}-->
          <!--},-->
          <!--"filter": {"term": {"category": "search"}}-->
        <!--}-->
      <!--},-->
      <!--"aggs" : {-->
        <!--"per_tag": {-->
          <!--"terms": {"field": "tags"},-->
          <!--"aggs": {-->
            <!--"max_lines": {"max": {"field": "lines"}}-->
          <!--}-->
        <!--}-->
      <!--}-->
    <!--}-->


 <!--def __init__(self, obj):-->
        <!--self.__dict__ = json.loads(obj)-->
